{{> head }}
{{> navbar }}

  <div class="jumbotron">
       <h1 class="display-4">Hello, {{capitalizar nombre}}</h1>
       <p class="lead"> {{capitalizar 'este es un texto que quiero capitalizar'}} </p>
       <hr class="my-4">
       <p>{{capitalizar 'son clases utilices para la typografia y espaciar el espacio de nuestro texto'}}</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
   </div>

{{> footer }}